section(class="hero is-medium is-info is-bold")
  div(class="hero-body")
    div(class="container")
      h1(class="title") Welcome to Otaku Dev
      h2(class="subtitle") Otaku Devはオタクで開発者な人達が集まるコミュニティです
section(class="section")
  div(class="container")
    div(class="content")
      h1 ようこそOtaku Devへ！
      p Otaku Devは、秋葉原周辺にオタクで開発者な人達が集まって何かをやっていくコミュニティです。
      h2 イベント
      p Otaku Devでは、次のようなイベントを開催しています。
      ul
        li
          a(href="https://akihabarago.connpass.com/" target="_blank" rel="noopener noreferrer") Akiba.go
      h2 コミュニケーション
      p Otaku DevではDiscordを使用しています。興味がある方は次の招待リンクからお気軽にジョインしてください。
      a(href="https://discord.gg/DeKThQh" target="_blank" rel="noopener noreferrer") Discordにジョインする
      h2 リンク
      ul
        li
          a(href="https://github.com/otaku-dev" target="_blank" rel="noopener noreferrer") GitHub
        li
          a(href="https://twitter.com/otaku_dev_" target="_blank" rel="noopener noreferrer") Twitter
