head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Otaku Dev
  link(rel="author" href="humans.txt")
  link(rel="stylesheet" href="css/website.min.css")
